a {
    color: #000000;
    text-decoration: none;
}

/* Raid ranking page */
table {
    border-collapse: collapse;

    padding: 10px;
}

table td, table th {
    border:1px solid black !important;
    padding: 2px;
    text-align: center;
}
.raid-ranking ul {
    margin-left: 10px;
    list-style-type: decimal;
}
ul {
    margin: 0px;
    padding: 0;
    list-style-type: decimal;
    width: auto;
}
ul li {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}
.logs {
    padding: 5px;
}
.left {
    text-align: left;
}
/* /Raid ranking page */

.center {
    text-align: center;
}
